Check client certificate when creating access token

This part hooks into the API and doesn't concern the JWT check as done by #97

is required for RFC003 §5.2.1.2 validation