Add support for RFC002-7.2 UZI signed auth tokens

Implement support for RFC002 section 7.2, UZI signed auth tokens.

fixed by #154 